.findus-page-content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: $header-height;
  //border-top: 1px solid $color_lighter_grey;
  #findus-page {
    border-right: 1px solid $color_lighter_grey;
    padding: 48px 56px 48px 0px;
    width: 73%;
    h2 {
        font-size: 2.4rem;
        margin: 20px auto 20px 0px;;
        text-align: start;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }
    iframe {
        width: 100%;
        height: 300px;
    }
    h3{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: start;
    }
    p {
        font-size: 1rem;
        line-height: 2rem;
    }
   
  }

}

.wpcf7{
    form{
        label{
            font-family: $font-family-accent;
            font-size: 1rem;
            .red{
                color:red;
            }
        }
        textarea,.wpcf7-text{
            background: rgb(241, 241, 241);
            border: 1px solid $color_lighter_grey;
        }
    }
}
input[type=submit] {
    background: $color_green;
    color: white;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 15px;
    padding: 12px 25px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: $font-family-accent;
    &:hover { 
      background: $color_dark_green;
      
    }
  }