//footer
footer{
    display: flex;
    width: 100%;
    .footer-contact-info{
        display: inline-flex;
        flex-flow: column nowrap;
        width: 25%;
    }
    .footer-business-hour{
        display: inline-flex;
        flex-flow: column nowrap;
        width: 25%;
    }
    .footer-logo{
        display: inline-flex;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        img{
            width: 200px;
        }
    }
}
