//header
.site-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.container {
  position: absolute;
  top: 0px;
  display: flex;
  flex-flow: row nowrap;
  width: 100% !important;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  .logo-link {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .site-logo {
    width: 50px;
    &:hover{
      color: $color__link-hover; 
    }
  }
  nav {
    font-family: $font-family-accent;
    text-transform: uppercase;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
  }
}

.menu-menu-1-container {
  display: flex;
  align-items: center;
  a {
    margin-left: 20px;
  }
}



//search field
fieldset {
  height: 25px;
  border: none;
  display: block;
  align-items: center;
  margin: 0px;
  padding: 0px;
 
  
  label {
    width: 100px;
    color: $color__link-hover; 
    input{
      height: 100%;
    }
  }

  input,
  select,
  textarea {
    color: $color__link-hover;
    border: none;
    background: none;
    &:focus {
      background-color: none;
      border: none;
    }
    &::placeholder{
      color: $color__link-hover;
      font-family: $font-family-accent;
    }
  }
}


.hero-image-header {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.search-container{
  display:flex;
  flex-flow: row nowrap;
  //search button
  .search-submit{
    margin-right: 30px;
    margin-left: 10px;
    width: 30px;
    background: none;
    color: white;
    border: none;
    float: left;
    &:hover{
        color: $color__link-hover;
    }
  }
  .search-field{
    margin-right: 30px;
  }
}
.main-navigation{
  transition: all 1s ease-in-out;
}

.home header h1{
  display:none;
}