/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
//header large logo
.logo-container{
    position: absolute;
    width:100%;
    top: 25%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .frontsite-header-logo{
        width:275px;
    }
}

//product types
.product-types-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    .product-type-item{
     display: flex;   
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 5px solid red;
    
     .product-type-logo{
         width: 50px;
     }
     button{
         width: 50%;
     }
    }
}


//latest posts
.latest-journal{
    display: flex;
    flex-direction: row;

    article{
        img{
            width: 80%;
        }
        .entry-title{

        }
        .entry-meta{

        }
        .entry-content{

        }
    }
}


/*about page */
.hero-picture-header{
    width: 100vw;
    height: 100vh;
}


/*product page*/
.product-menu {
    margin-top: 60px;
    a{
    color: red;
    }
}